@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('fonts/kfc_naskh-webfont.eot');
    src: url('fonts/kfc_naskh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kfc_naskh-webfont.woff') format('woff'),
         url('fonts/kfc_naskh-webfont.ttf') format('truetype'),
         url('fonts/kfc_naskh-webfont.svg#KFGQPCUthmanTahaNaskhRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KFGQPC Uthman Taha Naskh';
}

@media (max-width: 768px) {
    button {
        width: 24rem;
        min-width: 6rem;
        height: 6rem;
        min-height: 3rem;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        cursor: pointer;
        background-color: transparent;
        color: var(--text-color);
        border: 0.05rem solid var(--text-color);
    }

    p {
        font-size: 2.7rem;
    }

}

body {
    --bg-color: #f0fff9;
    --p-bg-color: #d1e7ff;
    --text-color: #000000;

    direction: rtl;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-bottom: 5rem;
}

body.dark {
    --bg-color: #1e1e1e;
    --p-bg-color: #131B47;
    --text-color: #e0e0e0;
}

p {
    font-size: 2rem;
    margin: 0.7rem;
    padding: 0.6rem;
}

p:nth-child(even) {
    background-color: var(--p-bg-color);
}

button {
    width: 6rem;
    min-width: 4rem;
    height: 4rem;
    min-height: 3rem;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    border: 0.05rem solid var(--text-color);
}

