@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('docs/fonts/kfc_naskh-webfont.eot');
    src: url('docs/fonts/kfc_naskh-webfont.eot?#iefix') format('embedded-opentype'),
         url('docs/fonts/kfc_naskh-webfont.woff') format('woff'),
         url('docs/fonts/kfc_naskh-webfont.ttf') format('truetype'),
         url('docs/fonts/kfc_naskh-webfont.svg#KFGQPCUthmanTahaNaskhRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'KFGQPC Uthman Taha Naskh';
}

body {
    direction: rtl;
    background-color: #f0fff9;
}

p {
    font-size: 2rem;
    margin: 0.7rem;
    padding: 0.6rem;
}

p:nth-child(even) {
    background-color: #d1e7ff;
}

